<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.kiegeland.boerse.views.AllStockGainsView"
            id="com.kiegeland.boerse.views.AllStockGainsView"
            name="AllStockGainsView"
            restorable="true">
      </view>
      <view
            class="com.kiegeland.boerse.views.OneStockGainsView"
            id="com.kiegeland.boerse.views.OneStockGainsView"
            name="OneStockGainsView">
      </view>
      <view
            class="com.kiegeland.boerse.views.OneStockDaysView"
            id="com.kiegeland.boerse.views.OneStockDaysView"
            name="OneStockDaysView">
      </view>
      <view
            class="com.kiegeland.boerse.views.ControlView"
            id="com.kiegeland.boerse.views.ControlView"
            name="ControlView">
      </view>
      <view
            class="com.kiegeland.boerse.views.WebView"
            id="com.kiegeland.boerse.views.WebView"
            name="ONVISTA">
      </view>
      <view
            class="com.kiegeland.boerse.views.SBrokerView"
            id="com.kiegeland.boerse.views.SBrokerView"
            name="SBROKER">
      </view>
   </extension>
   <extension
         id="BoerseProductID"
         point="org.eclipse.core.runtime.products">
      <product
            application="Boerse.id1"
            name="%productName">
         <property
               name="windowImages"
               value="eclipse.gif,eclipse32.gif,eclipse48.gif,eclipse.png,eclipse32.png">
         </property>
         <property
               name="aboutText"
               value="%productBlurb">
         </property>
         <property
               name="aboutImage"
               value="eclipse_lg.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="C8D5EA">
         </property>
         <property
               name="startupProgressRect"
               value="0,280,455,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,220,441,20">
         </property>
         <property
               name="appName"
               value="%productName">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.kiegeland.boerse.PerspectiveFactory1"
            id="boerse.perspective1"
            name="Boersen Perspective">
      </perspective>
   </extension>
   
   
   <extension
         id="id1"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.kiegeland.boerse.Application">
         </run>
      </application>
   </extension>

</plugin>
